body{
     border: 0px;
     padding: 0px;
     margin: 0px;
}
.container-headline{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     text-align: center;
     background-color: #222222;
     width: 100vw;
     height: auto;
     color:#AFAFAF;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text-headline{
     flex: 1;
     margin-left: 100px;
     padding: 20px;
}
.text-headline h1{
     font-size: 60px;
}
.text-headline h3{
     font-family: Arial, Helvetica, sans-serif;
}
.text-headline p{
     font-family: Arial, Helvetica, sans-serif;
     text-align: justify;
}
.text-headline li{
     margin: 20px;
}
figure{
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
}
.img-headline{
     flex:1;
}
.section-01{
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: auto;
     padding-bottom: 30px;
     background-color: #181818;
     color: white;
     text-align: center;
}
.text-section-01 h3{
     font-size: 40px;
}
.container-section-01{
     display: flex;
     justify-content: space-around;
}
.image-section-01{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     
}
.img-nft img{
     width: 280px;
     height: 280px;
     margin: 10px;
     border-radius: 20px;
     background-size: contain;   
}
.container-body{
     display: flex;
     background-color: #AFAFAF;
     width: 100vw;
     height: auto;
     padding-top: 20px;
     justify-content: center;
     flex-direction: column;
     margin-bottom: 0px;
}
.text-body h2{
     font-size: 45px;
     text-align: center;
     
}
.box-body{
     display: flex;
     flex-wrap: wrap;
     font-size: 20px;
     margin-top: 100px;
     justify-content:space-around;
     background-size:cover;
}
.box{
     display: flex;
     color:#AFAFAF;
     flex-wrap: wrap;
     background-color: #5c5b5b;
     padding: 20px;
     margin-right: 20px;
     margin-bottom: 100px;
     border-radius: 20px;
}
.container-footer{
     display: flex;
     padding-left: 10px;
     background-color: #222222;
     width: 100vw;
     height: auto;
}
.footer-box{
     text-align:left;
     font-size: 15px;
     padding-top: 30px;
     color:#AFAFAF;
     padding-right: 50px; 
     padding-left: 20px;
     width: 100vw; 
     margin-bottom: 0px;
     width: 100vw;   
}
.logo-footer{
     text-align: center;
}
.footer-box a{
     color:#5c5b5b;
     text-decoration: none;
     width: 100vw;
}
.footer-copy{
     display: flex;
     width: 100vw;
}
.copy{
     flex: 1;
     background-color:#222222;
     text-align: center;
     width: 100vw;
     height: auto;
     border-top: 1px solid #9c9c9c;
     color:#5c5b5b;
}